img{
    width: 200px;
    height: 200px;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.goods__list{
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
}
